<template>
      <div class="container-fluid">
        <p-header></p-header>
        <p-navigation></p-navigation>
        <router-view></router-view>
      </div>
</template>

<script>
import { mapState } from "vuex"
import PHeader from '@/components/Process/Header.vue'
import PNavigation from '@/components/Process/Navigation.vue'

export default {
  name: 'PContainer',
  props: ["id"],
  components: {
    PHeader, PNavigation
  },
  mounted() {
    this.$store.dispatch("loadProcess", this.id)
    this.$store.dispatch("loadSamplingData", this.id)
  },
  computed: mapState(["process"])
}

</script>
<style>
</style>
