<template>
  <div>
    <mdb-input label="Process name" v-model="process.name"/>
    <mdb-input label="Innoculation Time" type="text" v-model="process.innoculationTime"/>
    <mdb-input type="textarea" label="Objective" v-model="process.objectives"></mdb-input>
    <mdb-input type="textarea" label="Description" v-model="process.description"></mdb-input>
    <label>Reactor</label>
    <v-select v-model="process.reactor" :options="reactors" label="name"></v-select>
    <label>Strain</label>
    <v-select v-model="process.strain" :options="strains" label="name"></v-select>
    <label>Product</label>
    <v-select v-model="process.product" :options="products" label="name"></v-select>
    <label>Medium</label>
    <v-select v-model="process.medium" :options="mediums" label="composition"></v-select>
  </div>
</template>

<script>
import { mdbInput, mdbBtn} from "mdbvue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Api from "../../api";
import { mapState } from "vuex";
export default {
  name: "PEdit",
  data() {
    return {
      reactors: [],
      strains: [],
      products: [],
      mediums: []
    };
  },
  computed: mapState(["process"]),
  components: { mdbInput, mdbBtn, vSelect },
  mounted() {
    this.loadProperties();
  },
  methods: {
    async loadProperties() {
      Api.getReactors().then(response => {
        this.reactors = response.data;
      });
      Api.getStrains().then(response => {
        this.strains = response.data;
      });
      Api.getProducts().then(response => {
        this.products = response.data;
      });
      Api.getMediums().then(response => {
        this.mediums = response.data;
      });
    }
  }
};
</script>
<style>
</style>