<template>
  <div class="card">
    <div class="card-body">
      <mdb-container fluid>
        <mdb-row>
          <mdb-col md="10">
          <h2 class="card-title">{{process.name}}</h2> 
            </mdb-col>
            <mdb-col md="2">
             <router-link to="update"><button class="btn">Edit</button></router-link>
             
            </mdb-col>
        </mdb-row>
        <mdb-row>
        <mdb-col md="10">
        <mdb-row>
          <mdb-col lg="1" md="12"><strong>Strain:</strong></mdb-col>
          <mdb-col md="2">{{process.strain.name}}</mdb-col>
          <mdb-col md="1"><strong>Product:</strong></mdb-col>
          <mdb-col md="2">{{process.product.name}}</mdb-col>
        </mdb-row>
        <mdb-row>
          <mdb-col md="1"><strong>Start date:</strong></mdb-col>
          <mdb-col md="2">{{process.innoculationTime}}</mdb-col>
          <mdb-col md="1"><strong>Reactor:</strong></mdb-col>
          <mdb-col md="2">{{process.reactor.name}}</mdb-col>
        </mdb-row>
        </mdb-col>
        <mdb-col md="2"><button class="btn btn-success" v-on:click="exportCSV">Export as Excel</button></mdb-col>
        </mdb-row>
      </mdb-container>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import {mdbContainer, mdbRow, mdbCol} from 'mdbvue'
import Api from '../../api'
export default {
  name: "PHeader",
  computed: mapState(["process"]),
  components:{mdbContainer, mdbRow, mdbCol},
  methods: {
    exportCSV(){
      Api.exportSampling(this.process.id)
    }
  }
};
</script>
