<template>
  <mdb-navbar expand="large" dark color="stylish">
    <!-- Navbar brand -->
    <mdb-navbar-toggler>
      <mdb-navbar-nav>
        <mdb-nav-item router to="info">Info</mdb-nav-item>
        <mdb-nav-item router to="medium">Medium</mdb-nav-item>
        <mdb-nav-item router to="settings">Settings</mdb-nav-item>
        <mdb-nav-item router to="sampling">Sampling</mdb-nav-item>
        <mdb-nav-item router to="upload">Upload</mdb-nav-item>
        <mdb-nav-item router to="charts">Charts</mdb-nav-item>
      </mdb-navbar-nav>
    </mdb-navbar-toggler>
  </mdb-navbar>
</template>

<script>
import {mdbNavbar, mdbNavbarBrand, mdbNavItem, mdbNavbarNav, mdbNavbarToggler} from 'mdbvue';
export default {
  name: 'PNavigation',
  components: {mdbNavbar, mdbNavbarBrand, mdbNavItem, mdbNavbarNav, mdbNavbarToggler},
}
</script>

<style>
  .active-link{
    background-color: #486179
  }
</style>
