<template>
  <div class="small">
    <line-chart :chart-data="datacollection"></line-chart>
    <button @click="getMeasures()">Randomize</button>
  </div>
</template>

<script>
  import LineChart from '../../components/PlotChart.js'
  import Api from '../../api'
  import { mapState } from "vuex";
  import moment from 'moment';


  export default {
    components: {
      LineChart
    },
    data () {
      return {
        datacollection: {},
        loaded: false,
        measureTypeId: 2
      }
      
    },
    computed: mapState(["process"]),

    mounted () {
      this.fillData()
    },
    methods: {
      fillData () {
        this.datacollection = {
          labels: [],
          datasets: [
            {label: "temperature",
            data: [
                {x: 1,
                y: 2},
                {x: 2,
                y: 4},
                {x: 3,
                y: 6}
            ]}
          ]
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      },
      async getMeasures(){
          var datacollection = {datasets : []}
          var dataset = {label : "temperature", data: [], borderColor: 'rgba(0, 0, 0, 0.1)', showLine: true}
          var response = await Api.getMeasures({processId: this.process.id, measureTypeId: this.measureTypeId})
          response.data.forEach(measure => {
              var x = moment(measure.timestamp).diff(moment(response.data[0].timestamp))
              var point = {x: x, y: measure.value}
              dataset.data.push(point)
          });
          datacollection.datasets.push(dataset)
          this.datacollection = datacollection
      }
    }
  }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>
