<template>
  <div>
    <mdb-container fluid>
      <mdb-row class="justify-content-md-center">
        <mdb-col md="4">
          <p class="h4 text-center mb-4">New process</p>
          <p-edit></p-edit>
          <button class="btn btn-success" v-on:click="createProcess">create</button>
        </mdb-col>
      </mdb-row>
    </mdb-container>
    <mdb-modal :show="modal" @close="modal = false">
      <mdb-modal-header>
        <mdb-modal-title>Select sampling measures</mdb-modal-title>
      </mdb-modal-header>
      <mdb-modal-body>
        <v-select multiple v-model="selectedMeasureTypes" :options="measureTypes" label="name"></v-select>
      </mdb-modal-body>
      <mdb-modal-footer>
        <button class="btn btn-success" v-on:click="addSamplingMeasureTypes">Save</button>
      </mdb-modal-footer>
    </mdb-modal>
  </div>
</template>

<script>
import { mdbInput, mdbBtn, mdbCol, mdbRow, mdbContainer, mdbModalBody, mdbModal, mdbModalFooter, mdbModalHeader, mdbModalTitle  } from "mdbvue";
import vSelect from 'vue-select';
import PEdit from "../../components/Process/Edit";
import Api from '../../api'
export default {
  name: "PCreate",
  components: { mdbInput, mdbBtn, mdbCol, mdbRow, mdbContainer, PEdit, mdbModalBody, mdbModal, mdbModalFooter, mdbModalHeader, mdbModalTitle, vSelect },
  data() {
      return {
        modal: false,
        selectedMeasureTypes: [],
        measureTypes: [],
        id: 0
      }
  },
  created() {
    this.$store.dispatch("init");
  },
  methods: {
    async createProcess() {
      this.id = await this.$store.dispatch("createProcess");
      console.log(this.id)
      this.loadMeasureTypes()
      this.modal = true
    },
    async loadMeasureTypes() {
      Api.getMeasureTypes().then(response => {
        this.measureTypes = response.data;
      });
    },
    async addSamplingMeasureTypes()
    {
      await Api.addSamplingMeasureTypes({id: this.id,measureTypes: this.selectedMeasureTypes})
      this.$router.push({ name: 'info', params: { id: this.id } })
    }
  }
};
</script>
<style>
</style>