<template>
  <div class="card">
  <div class="card-body">
    <h2 class="card-title">Description</h2>
    <p class="card-text">{{process.description}}</p>
    <h2 class="card-title">Objectives</h2>
    <p class="card-text">{{process.objectives}}</p>
  </div>
</div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "PInfo",
  computed: mapState(["process"]),
};
</script>