<template>
  <div class="container-fluid">
    <mdb-container>
      <mdb-row><router-link :to="{ name: 'newProcess'}"><button class="btn btn-success">Create new process</button></router-link>
      </mdb-row>
      <mdb-row>
        <mdb-col md="3">Name</mdb-col>
        <mdb-col md="2">Strain</mdb-col>
        <mdb-col md="3">Innoculation Date</mdb-col>
        <mdb-col md="2">Product</mdb-col>
        <mdb-col md="2">Reactor</mdb-col>
      </mdb-row>
      <mdb-row v-for="process in processList" :key="process.id">
        <mdb-col md="3">
          <router-link :to="{ name: 'process', params: { id:process.id }}">{{process.name}}</router-link>
        </mdb-col>
        <mdb-col md="2">{{process.strain.name}}</mdb-col>
        <mdb-col md="3">{{process.innoculationTime}}</mdb-col>
        <mdb-col md="2">{{process.product.name}}</mdb-col>
        <mdb-col md="2">{{process.reactor.name}}</mdb-col>
      </mdb-row>
    </mdb-container>
  </div>
</template>

<script>
import {
  mdbInput,
  mdbBtn,
  mdbContainer,
  mdbRow,
  mdbCol
} from "mdbvue";
import { mapState } from "vuex";
export default {
  name: "PList",
  components: { mdbInput, mdbBtn, mdbContainer, mdbRow, mdbCol },
  computed: mapState(["processList"]),
  mounted() {
    this.$store.dispatch("loadProcesses");
  }
};
</script>
<style>
</style>