<template>
  <div class="card">
  <div class="card-body">
    <h2 class="card-title">Composition</h2>
    <p class="card-text">{{process.medium.composition}}</p>
    <h2 class="card-title">Preparation</h2>
    <p class="card-text">{{process.medium.preparation}}</p>
  </div>
</div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "PMedium",
  computed: mapState(["process"]),
};
</script>