<template>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-success" v-on:click="saveSamplingData">Save Changes</button>
      <vue-scrolling-table
      :scroll-horizontal=true
							:scroll-vertical=true
							:sync-header-scroll=true
							:sync-footer-scroll=true
							:include-footer=false
              class="scroll-table freezeFirstColumn">
      <!--mdb-tbl v-bind="tableProps" sm data-table-->
        <template slot="thead">
        <!--mdb-tbl-head-->
          <tr>
            <th class="w2">
              Timestamp
            </th>
            <th
              v-for="measureType in samplingColumns"
              :key="measureType.id"
              class="th-sm sorting"
            >{{measureType.name}}</th>
          </tr>
        <!--/mdb-tbl-head-->
        </template>
        <template slot="tbody">
        <!--mdb-tbl-body-->
          <tr v-for="row in samplingRows" :key="row.rowNumber">
            <td class="w2">
              <input type="datetime" v-model="row.timeStamp" class="form-control">
            </td>
            <td v-for="measureType in samplingColumns" :key="measureType.id">
              <input type="text" class="form-control" v-model="row.measures[row.measures.findIndex(m => m.measureType.id === measureType.id)].value" size="sm">
            </td>
          </tr>
        <!--/mdb-tbl-body-->
        </template>
        
        
      <!--/mdb-tbl-->
      </vue-scrolling-table>
      <button class="btn" v-on:click="duplicateLastRow">Duplicate last row</button><br/>
        <button class="btn" v-on:click="addNewRow">Add new row</button>
    </div> 
  </div>
</template>

<script>
import { mdbDatatable, mdbTbl, mdbTblHead, mdbTblBody, mbdTextarea, mdbInput } from "mdbvue";
import moment from 'moment';
import vueScrollingTable from 'vue-scrolling-table'
import { mapState } from 'vuex';

export default {
  name: "Sampling",
  components: {
    mdbDatatable, mdbTbl, mdbTblHead, mdbTblBody, mdbInput, vueScrollingTable
  },
  data() {
    return {
      tableProps: {
        autoWidth: this.autoWidth,
        bordered: this.bordered,
        borderless: this.borderless,
        dark: this.dark,
        fixed: this.fixed,
        hover: this.hover,
        responsive: this.responsive,
        responsiveSm: this.responsiveSm,
        responsiveMd: this.responsiveMd,
        responsiveLg: this.responsiveLg,
        responsiveXl: this.responsiveXl,
        striped: this.striped,
        dtScrollY: this.scrollY,
        maxHeight: this.maxHeight
      },
    };
  },
  methods: {
    addNewRow(){
      var measures = []
      this.samplingColumns.forEach(element => {
        measures.push({value:null, measureType:element})
      });
      var row = {
        rowNumber : this.samplingRows.length+1,
        timeStamp : moment().format(),
        measures : measures
      }
      console.log(row)
      this.samplingRows.push(row)
    },
    duplicateLastRow(){
      var measures = []
      var timeStamp = this.samplingRows[this.samplingRows.length-1].timeStamp
      this.samplingRows[this.samplingRows.length-1].measures.forEach(measure => {
        measures.push({value:measure.value, measureType:measure.measureType})
      });
      var row = {
        rowNumber : this.samplingRows.length+1,
        timeStamp : timeStamp,
        measures : measures
      }
      this.samplingRows.push(row)
    },
    saveSamplingData()
    {
      this.$store.dispatch("saveSamplingData")
    }
  },
  computed: mapState(['samplingRows','samplingColumns'])
};
</script>
<style>
table.scrolling .w2 {
	width: 15em;
	min-width: 15em;
	max-width: 15em;
}
.scroll-table {
	max-height: 27em;
  min-height: 27em;
}

table.freezeFirstColumn thead tr,
table.freezeFirstColumn tbody tr {
	display: block;
	width: min-content;
}
table.freezeFirstColumn thead td:first-child,
table.freezeFirstColumn tbody td:first-child,
table.freezeFirstColumn thead th:first-child,
table.freezeFirstColumn tbody th:first-child {
	position: sticky;
	position: -webkit-sticky;
	left: 0;
}
</style>
