<template>
  <mdb-container fluid>
      <mdb-row class="justify-content-md-center">
        <mdb-col md="4">
          <p class="h4 text-center mb-4">Edit process</p>
          <p-edit></p-edit>
          <button class="btn btn-success" v-on:click="updateProcess">Update</button>
        </mdb-col>
      </mdb-row>
    </mdb-container>
</template>

<script>
import { mdbInput, mdbBtn, mdbCol, mdbRow, mdbContainer  } from "mdbvue";
import PEdit from "../../components/Process/Edit";

export default {
  name: "PUpdate",
  props: ["id"],
  components: { mdbInput, mdbBtn, PEdit, mdbCol, mdbRow, mdbContainer  },
  mounted() {
    console.log(this.id);
    this.$store.dispatch("loadProcess", this.id);
  },
  methods: {
    updateProcess() {
      this.$store.dispatch("updateProcess");
    }
  }
};
</script>
<style>
</style>