<template>
  <div class="card">
    <div class="card-body">

      <!--div class="form-group">
        
      </div-->
      <mdb-container fluid>
        <mdb-row><input type="file" class="form-control" ref="file" /></mdb-row>
      <mdb-row>
      <mdb-col md="2"><mdb-input label="Header row" v-model="headersRow"></mdb-input></mdb-col>
      <mdb-col md="2"><mdb-input label="1st measure col" v-model="firestMeasureColumn"></mdb-input></mdb-col>
      <mdb-col md="2"><mdb-input label="1st measure row" v-model="firestMeasureRow"></mdb-input></mdb-col>
      <mdb-col md="2"><mdb-input label="Timestamp col" v-model="timestampColumn"></mdb-input></mdb-col>
      <mdb-col md="2"><mdb-input type="checkbox" label="Row Identifier" v-model="hasIdentifier"></mdb-input></mdb-col>
      </mdb-row>
      </mdb-container>
      <button class="btn btn-primary" v-on:click="getPreview">Preview</button>
      <table>
        <tr>
          <th v-for="header in headers">{{header}}</th>
        </tr>
        <tr v-for="row in rows">
          <td v-for="data in row.slice(hasHeaders)">{{data}}</td>
        </tr>
      </table>
      <button class="btn btn-success" v-on:click="parseData">Upload</button>
    </div>
  </div>
</template>

<script>
import {mdbInput,  mdbContainer, mdbRow, mdbCol} from 'mdbvue'
import Papa from "papaparse";
export default {
  name: "Upload",
  components: {mdbInput, mdbContainer, mdbRow, mdbCol},
  data() {
    return {
      file: null,
      headers: [],
      rows: [],
      firstDataRow: 2,
      hasHeaders: false,
      timestampIndex: 1,
      firstMeasureIndex: 5,
      headersRow:0,
      firestMeasureColumn:1,
      firestMeasureRow:1,
      timestampColumn:0,
      hasIdentifier: false
    };
  },
  methods: {
    getPreview: function() {
      var _this = this;
      this.file = this.$refs.file.files[0];
      Papa.parse(this.file, {
        complete: function(results) {
          _this.headers = results.data[_this.headersRow];
          _this.rows = results.data.slice(_this.firestMeasureRow, _this.firestMeasureRow+10)
        }
      });
    },
    parseData: function() {
      var _this = this;
      if (this.file === null) {
        this.file = this.$refs.file.files[0];
      }
      Papa.parse(this.file, {
        dynamicTyping: true,
        complete: function(results) {
          let measures = {};
          let measureTypes = _this.headers.slice(_this.firstMeasureIndex);
          measureTypes.forEach(measureType => {
            measures[measureType] = [];
          });

          let data = results.data.slice(_this.firstDataRow);
          data.forEach(row => {
            let timestamp = row[_this.timestampIndex];
            var i;
            for (i = 0; i < measureTypes.length; i++) {
              var measureType = measureTypes[i];
              var measure = {
                timestamp: timestamp,
                value: row[i + _this.firstMeasureIndex]
              };
              measures[measureType].push(measure);
            }
          });
          _this.$store.dispatch("uploadMonitoringData", measures);
        }
      });
    }
  }
};
</script>
